body {
    font-family: "Oswald", sans-serif;
    background-color: #000000;
    /* Pattern from https://www.heropatterns.com/ */
    background-image: url("https://github.com/sacha1994/repositorio1/blob/main/imagenes/imag1.jpg");
    color: #1e272e;
    color: #fff;
    font-size: 16px;
  }
